c#/Lógica de programação/Sistema de cadastro de carros/Project1/bin/
c#/Lógica de programação/Sistema de cadastro de carros/Project1/obj/
c#/Lógica de programação/Sistema de cadastro de carros/Project1/App.config/
c#/Lógica de programação/Sistema de cadastro de carros/.vs/